#btn-wrapper{
    padding: 16px;
    background: cornflowerblue;
button{
    border: none;
    background: purple;
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: 800;
    border-radius: 3px;
    margin-right: 16px;
    cursor: pointer;
    &:last-child{
        margin-right: 0px
    }

    &:disabled{
        background-color: gray;
    }
}
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 40%;
    height: calc(100vh - 82px);
    overflow: auto;
    li{
        padding: 16px;        
        border-radius: 3px;
        a{
            cursor: pointer;
            display: flex;
            div{
                display: inline-block;
                div{
                    display: flex;
                    flex-direction: column;
                    &:first-child{
                        font-size: x-large;
                        margin-bottom: 16px;
                    }
                    &:nth-child(2){
                        font-size: large;
                    }
                }
            }
        }
    }
}