.container-fluid{
    width: 100%;
    margin: 0 auto;
    padding: 32px;
    box-shadow: 0 0 4px 1px #c6c6c6;
    overflow: auto;
    height: 100vh;
    box-sizing: border-box;
}



#appMessage{
    height: 100vh;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 64px;
    color: #1e68ee;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}