<!-- <section>
    <div id="appMessage">{{message}}<i class="fa fa-line-chart fa-flip"
            style="--fa-animation-duration: 3s; margin-left: 16px;" aria-hidden="true"></i>
    </div>
    <div style="display: flex;">
        <div style="    height: 100vh;
        width: 350px;
        border-right: 1px solid red;
        padding: 16px;
        box-sizing: border-box;">
            <app-side-nav></app-side-nav>
        </div>
        <div class="container-fluid">
            <app-bonus-share-calculator></app-bonus-share-calculator>
        </div>
    </div>
</section> -->

<ng-container>
    <app-rss-feed></app-rss-feed>
</ng-container>