/* You can add global styles to this file, and also import other style files */

body{
    font-family: "Cascadia Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 1rem;
    position: relative;
    min-height: 100vh;
    margin: 0;
}

footer{
    position: absolute;
    bottom: 0;
    padding: 8px 0;
    text-align: center;
    width: 100%;
    background: #000;
    color: #03a9f4;
}


#loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-36%, -50%);
    font-size: xx-large;
}